@import '~semantic-ui-css/semantic.css';
.highlight {
    background-color: pink;
}
.main.container {
    margin-top: 5em;
    margin-bottom: 7em;
}
.ui.segment {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

